<!DOCTYPE html>
<html>
<head>
	<title>Credit Card Fraud Detector</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="card">
		<h1>Enter data for prediction</h1>
		<div class="green-bubble" style="top: 10%; left: 30%;"></div>
		<div class="green-bubble" style="top: 20%; left: 60%;"></div>
		<div class="green-bubble" style="top: 50%; left: 70%;"></div>
		<form action="/predict" method="POST">
			<label for="hour_of_day">Hour of Day:</label>
			<input type="text" id="hour_of_day" name="hour_of_day">

			<label for="category">Category:</label>
			<input type="text" id="category" name="category">

			<label for="amount">Amount (USD):</label>
			<input type="text" id="amount(usd)" name="amount(usd)">

			<label for="merchant">Merchant:</label>
			<input type="text" id="merchant" name="merchant">

			<label for="job">Job:</label>
			<input type="text" id="job" name="job">
			
			<label for="zip">Zip:</label>
			<input type="text" id="zip" name="zip">

			<label for="lat">Latitude:</label>
			<input type="text" id="lat" name="lat">

			<label for="long">Longitude:</label>
			<input type="text" id="long" name="long">

			<label for="url">URL:</label>
			<input type="text" id="url" name="url">

			<input type="submit" value="Predict">
		</form>
	</div>
</body>
</html>
