@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
  --width: 85%;
  --padding: var(--width) / 2;
}

html {
  width: full;
  height: full;
  background-color: #f7f7f7;
}

body {
  display: grid;
  place-items: center;
}

form {
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}

@media screen and (max-width: 768px) {
  form {
    padding: 0rem;
  }
}

form div {
  display: grid;
  place-items: center;
  grid-template-columns: 15% 84%;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  form div {
    margin-top: 2rem;
    grid-template-columns: 30% 68%;
  }
}

h1 {
  margin-top: 1.5rem !important;
  margin-bottom: 0 !important;
  text-align: center !important;
  font-family: Inter !important;
}

input,
label {
  border-radius: 30px !important;
  width: 100% !important;
  margin: 0 auto !important;
  font-family: Inter !important;
}

input[type='submit'] {
  margin: 2rem auto 0 !important;
  width: 100% !important;
  display: block !important;
  --background-color: #5568af !important;
  --border-color: #4b5c9a !important;
  --color: var(--primary-inverse);
}

.card {
  position: relative;
  margin: 2rem auto;
  backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(236, 236, 236, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

@media screen and (max-width: 768px) {
  .card {
    margin: 0;
  }
}

.balls {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 75%;
  margin: 0 auto;
}

.balls div {
  border-radius: 100%;
}

@media screen and (max-width: 1270px) {
  .balls div:nth-of-type(1) {
    width: 20rem;
    height: 20rem;
  }
}

.balls div:nth-of-type(1) {
  margin-top: -30rem;
  margin-right: -15rem;
  position: relative;
  z-index: 999;
  width: 30rem;
  height: 30rem;
  background-color: #6ebf9b;
  align-self: end;
}

.balls div:nth-of-type(2) {
  width: 20rem;
  height: 20rem;
  background-color: #5568af;
}

@media screen and (max-width: 768px) {
  .balls {
    gap: 20rem;
  }

  .balls div:nth-of-type(1) {
    margin-top: -15rem;
    margin-right: -2rem;
    z-index: -10;
<<<<<<< HEAD
    margin-top: -15em;
    margin-right: auto;
    margin-left: auto;
=======
    position: absolute;
    width: 10rem;
    height: 10rem;
  }

  .balls div:nth-of-type(2) {
    width: 10rem;
    height: 10rem;
    background-color: #5568af;
>>>>>>> 30456927556053e0c4cd063610f24b7c8a85d05c
  }

  .balls {
    flex-direction: row;
    gap: 5rem;
    width: 100%;
    margin-top: 5rem;
  }

  .balls div {
    margin: 0 auto;
  }
}