<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script>
        function login(event) {
            event.preventDefault();
        
            let username = document.getElementById('username').value;
            let password = document.getElementById('password').value;
        
            fetch('/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({username: username, password: password}),
                credentials: 'include'
            }) 
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Save the token to localStorage
                    localStorage.setItem('token', data.token);
                    
                    alert('Logged in successfully.'); 
                    location.href = '/predict'; 
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }        
    </script>
</head>
<body>
    <h2>Login</h2>
    <form onsubmit="login(event)">
        <label>Username:</label>
        <input type="text" id="username"><br>
        <label>Password:</label>
        <input type="password" id="password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>