Flask
Flask-Login
Flask-WTF
gunicorn
nltk
numpy
pandas
requests
scikit-learn
nltk
Keras
tensorflow
requests
protobuf
gunicorn
Werkzeug
python-jose
cryptography
flask-cors
psycopg2-binary
flask_sqlalchemy
